.dashboard-main {
  display: flex;
  flex-direction: column;
}

.dashboard-center {
  display: flex;
  transition: margin-left 0.3s ease-in-out; 
}

@media (max-width: 768px) {
  .dashboard-center {
    margin-left: 0; 
  }
}